.header
  ul
    li
      a(href="/")
        = t("trang-chu")
    li
      a(href="/pha-ky")
        = t("pha-ky")
    li
      a(href="/pha-do")
        = t("pha-do")
    li
      a(href="/tu-duong")
        = t("tu-duong")
